@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip-hexagon {
    /* 90% and 10% left and right padding */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .animate-spin-slower {
    animation: spin 30s linear infinite;
  }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hex {
  border-radius: 1em/.5em;
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}